---
import Layout from "../layouts/Layout.astro";
import Squad from "../sections/Squad.astro";
import "../styles/global.css";

const now = new Date();
const currentMonth = now.getMonth() + 1; // 1-12
const currentYear = now.getFullYear();

let startYear, endYearAbbrev;
if (currentMonth >= 7) {
    startYear = currentYear;
    endYearAbbrev = (currentYear + 1).toString().slice(-2);
} else {
    startYear = currentYear - 1;
    endYearAbbrev = currentYear.toString().slice(-2);
}
const currentSeason = `${startYear}/${endYearAbbrev}`;

const description = `Plantilla ${currentSeason} del Real Madrid Femenino: todas las jugadoras, fichajes, altas, bajas, partidos, goles, asistencias y mucho más.`;
---

<Layout
    title="Plantilla del Real Madrid Femenino | Madrid Femenino Xtra"
    description={description}
>
    <main class="max-w-[1700px] mx-auto px-6 md:px-0">
        <header class="page-header-container">
            <h1 class="landing-title">PLANTILLA</h1>
            <p class="landing-subtitle">
                Plantilla {currentSeason} del Real Madrid Femenino
            </p>
        </header>
        <Squad />
    </main>
</Layout>
