---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CookieConsent from "../components/CookieConsent.astro";
import TopBar from "../components/TopBar.astro";
import "../styles/global.css";
import "@fontsource/permanent-marker";
import "@fontsource/bebas-neue";
import "@fontsource/archivo-black";
import "@fontsource/poppins";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	noindex?: boolean;
	showAds?: boolean;
	author?: string;
}

const {
	title = "Noticias, actualidad y estadísticas del Real Madrid femenino | Madrid Femenino Xtra",
	description = "Tu fuente 100% dedicada al Real Madrid Femenino. Consulta todas las noticias, resultados, clasificación, calendario y estadísticas en un solo lugar. ¡Entra y no te pierdas nada de la actualidad del equipo!",
	image = "https://www.madridfemeninoxtra.com/og.png",
	noindex = false,
	showAds = true,
	author = "Madrid Femenino Xtra",
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>

		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="canonical" href={Astro.url.href} />

		<link rel="preconnect" href="https://i.ytimg.com" />
		<link rel="preconnect" href="https://widgets.sofascore.com" />

		<meta name="description" content={description} />
		<meta name="author" content={author} />

		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#2b2b2b" />

		<meta property="og:url" content="https://www.madridfemeninoxtra.com" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Madrid Femenino Xtra" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:locale" content="es_ES" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@madridfemxtra" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />

		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />

		<meta name="robots" content={noindex ? "noindex" : "index, follow"} />
	</head>
	<body>
		<TopBar />
		<Header />
		<div class="page-wrapper">
			<slot />
		</div>
		<Footer />
		<CookieConsent showAds={showAds} />
	</body>
</html>
